<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="trial.css">
</head>
<body>
    <div class="main">
        <h1 class="firstline">CHOOSE THE RIGHT PLAN FOR YOU</h1>
        <h1 class="sub">SUBSCRIPTION</h1>
        <h1 class="line">______________________________</h1>
        <h2 class="subline">Take your plan to get access to our content easily.we like to offer special license offer to our users.</h2>

        <div class="box1">
            
            
            <h1 class="money1">FREE</h1>
            <h1 class="trial1">trial</h1>
            <h1 class="trial2">for 7-Days</h1>
            <button class="a1">Go Premium</button>
        </div>
        
        <div class="box2">
            <h1 class="premium">PREMIUM</h1>
            <h1 class="money2">$100,000</h1>
            <h1 class="year">For</h1>
            <h1 class="year2">an</h1>
            <h1 class="year3">YEAR</h1>
            <button class="a2">Go Premium</button>
        </div>

        

    </div>
</body>
</html>