* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1638184984605-af1f05249a56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 40%;
  left: 30%;
  top: 10%;
  position: absolute;
}
.containersignin {
  font-size: small;
  color: aliceblue;
}

.password-container {
  width: auto;
  position: relative;
  color: aliceblue;
}
.password-container input[type='password'],
.password-container input[type='text'] {
  width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
}
.fa-eye {
  position: absolute;
  margin-top: 20px;
  margin-left: -35px;
  cursor: pointer;
  color: lightgray;
  background-image: url(eye-solid.svg);
}
